<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>



<%= link_to new_restaurant_review_path(@restaurant) do %>
<p><i class="far fa-comment"></i> Write a review for this restaurant</p>
<% end %>
<!-- delete resto -->
<%= link_to restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure you want to delete '#{@restaurant.name}'?" } do %>
<p><i class="far fa-trash-alt"></i> Delete this restaurant</p>
<% end %>
<!-- edit details -->
<%= link_to edit_restaurant_path(@restaurant) do %>
<p><i class="fas fa-edit"></i> Edit details</p>
<% end %>

<hr>
<!-- reviews -->
<h3>Reviews</h3>

<table class="table">
  <tr>
    <th>Content</th>
    <th>Rating</th>
  </tr>

  <% @restaurant.reviews.each do |r| %>
  <tr>
    <td>
      <p><%= r.content %></p>
    </td>
    <td>
      <%= '★' * r.rating %>
    </td>
  </tr>
  <% end %>
</table>



